/Assets/@Themes
/Library
/Temp
/UnityPackageManager
/Assets/LeapMotion
/Assets/SteamVR
/Assets/@Themes.meta
/Assets/Animations.meta
/Assets/LeapMotion.meta
/Assets/SteamVR.meta
/Assets/Animations
/Builds
